body {
	background-image:url('background.png');
	background-repeat:no-repeat;
	background-position: center top;
	background-color:#ffffff; 
}

div.mainWrapper {
	height: 600px;
}

div.searchBar {
	width: 100%;
}